div.Score h2 {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.Score .back {
    background: #999;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
    width:200px;
    margin-bottom: 40px;
    display: block;
    max-width: 50px;
    text-align: center;
}

@media print {
    .Score .back {
        display: none;
    }
}

.Score .reminder {
    margin-bottom: 40px;
    display: block;
    opacity: 0.7;
}

.Score .back:hover{
    background: #333;
}

.Score .comment {
    margin-bottom: 40px;
    white-space:  pre-wrap;
}

div.Score h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

div.Score h4 {
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

div.Score li {
    display: block;
    margin-bottom :40px;
    page-break-inside: avoid;
}

.ScoreQuestion {
    display: block;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.ScoreQuestion:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.ScoreQuestion:after {
    display: block;
    clear: both;
    content: '';
}

.ScoreQuestion h5 {
    display: block;
    width: 60%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    font-weight: normal;
    position: relative;
    top: 5px;
}

.ScoreQuestion h5 span {
    font-size: 14px;
    color: #ccc;
    white-space: nowrap;
}

.ScoreQuestion h6 {
    display: block;
    float: right;
    width: calc(40% - 20px);
    text-align: right;
    white-space: nowrap;
}

.ScoreQuestion h6 span {
    display: block;
    margin-left: 5px;
    width: 130px;
    text-align: center;
    color: #FFF;
    border: 1px solid rgb(140, 206, 14);
    float: right;
    height: 28px;
    position: relative;
}

.ScoreQuestion h6 span .label {
    display: block;
    text-align: right;
    padding-left: 5px;
    width: 55px;
    color: rgb(140, 206, 14);   
    position: absolute;
    left: -65px;
    height: 30px;
    top: -1px;
    line-height: 30px;
    font-size: 14px;

}

.ScoreQuestion h6 span .bar {
    display: block;
    width: 100%;
    height: 28px;
    background: rgb(140, 206, 14);
    position: absolute;
    left: 0px;
    top: 0px;
}

.ScoreQuestion h6 strong {
    background: #999;
    color: #FFF;
    display: block;
    padding: 5px;
    margin-left: 5px;
    width: 150px;
    text-align: center;
     border: 1px solid #999;
     float: right;
     height: 18px;
}

.ScoreQuestion p.questionComment {
    margin-top:10px;
    display: block;
    clear: both;
    white-space: pre-wrap;
    margin-bottom: 0px;
}

.ScoreRoleProgress:first-child {
    margin-top: 40px;  
}

.ScoreRoleProgress {
    display: block;
    border:1px solid #CCC;
    padding: 20px;
    margin-top: 10px;   
}

div.ScoreRoleProgress h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    cursor: pointer;
}

div.ScoreRoleProgress h4:before {
    width: 0; 
    height: 0; 
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #666;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 1px;
    content: '';
}

div.ScoreRoleProgress h4.open:before {
    transform: rotate(90deg);
}

.ScoreRoleProgress h5{
    color: #999;
    margin-bottom: 10px;
}

.ScoreRoleProgress h5 span {
    background: #ce130e;
    font-weight: normal;
    padding: 5px 10px;
    font-size: 12px;
    color: #FFF;
    border-radius: 5px;
    position:relative;
    top: -2px;
    left: 5px;
    display: block;
    float: right;
}

.ScoreRoleProgress ol {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ScoreRoleProgress ol li {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #BBB;
    font-style: italic;
}

.ScoreRoleProgress ul:first-child {
    margin-top: 40px;
}

.ScoreRoleProgress ul {
    margin-top: 10px;
}

div.ScoreRoleProgress ul li{
    border-bottom: 1px solid #CCC;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 12px;
}


div.ScoreRoleProgress ul li:last-child{
    margin-bottom: 0px;
    border: none;
    padding-bottom: 0px;
}

.ScoreRoleProgress h5 span.complete {
    background: rgb(140, 206, 14);
}

@media print {
    .ScoreRoleProgress {
        page-break-inside: avoid;
    }

    .ScoreRoleProgress ul {
        display: block !important;
    }

    .ScoreRoleProgress h5 span.complete {
        color: rgb(140, 206, 14);
    }

    .ScoreRoleProgress h5 span {
        color: #ce130e;
    }

    div.ScoreRoleProgress h4:before {
        display: none;
    }
}

.ScoreRoleProgress .questions p {
    max-width: 100%;
    margin-bottom: 5px;
    color: #666;

}

.ScoreRoleProgress .questions p:last-child{
    margin-bottom: 0px;
}

.ScoreRoleProgress .questions p:first-child{
    margin-top: 20px;
}

.ScoreRoleProgress .questions p span{
    display: inline-block;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;    

}

.ScoreRoleProgress .questions p.complete strong {
    color: rgb(140, 206, 14);
    
}

.ScoreRoleProgress .questions p strong{
    position: relative;
    top: -4px;
    left: 5px;
    font-weight: normal;
    color: #ce130e;
    display: inline-block;
    text-align: right;
    width: 40%;
}