html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;zoom:0;}body{	line-height:1;}ul,li{list-style:none;display:inline;}.clear{clear:both;}

.View {
	display: block;
	width: 100vw;
	max-width: 1040px;
	margin: 0 auto;
	padding: 60px 20px;
	font-family: Arial;
}

.View h1 {
	display: block;
	margin: 0 auto;
	color: rgb(140, 206, 14);
	font-size: 18px;
	margin-bottom: 10px;
}

.View h2 {
	display: block;
	margin: 0 auto;
	color: rgb(140, 206, 14);
	color: #333;
	font-size: 24px;
	line-height:1.2;
	margin-bottom: 20px;
}

.View h3 {
	display: block;
	margin: 0 auto;
	color: rgb(140, 206, 14);
	font-size: 16px;
	margin-bottom: 20px;
}

.View p {
	font-size: 16px;
	line-height: 1.2;
	color: #999;
	display: block;
	margin-bottom: 20px;
	max-width: 700px;	
}

.View p span {
	display: block;
	margin-bottom: 5px;
}

.View .navigation {
	position: fixed;
	bottom: 60px;
	width: 100vw;
	left: 0px;
	text-align: center;
}

.View .navigation a {
	background: rgb(140, 206, 14);
	padding: 20px;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	width:200px;
}

.View .navigation a:hover{
	opacity: 0.7;
}

.View .navigation a.previous {
	border-right: 1px solid #FFF;
}

textarea::-webkit-input-placeholder {
	color: #ccc;
}
