.Question .questionOptions {
	display: flex;
	justify-content: center;
	padding:40px;
	border-top: 1px solid #EEE;
	margin-top: 40px
}

.Question .questionOptions li {
	display: block;
	background: rgb(140, 206, 14);
	padding:20px;
	border-right: 1px solid #FFF;
	color: #FFF;
	user-select: none; 
}


.Question textarea {
	font-size:16px;
	padding:10px;
	color: #999;
	width: 400px;
	display: block;
	margin: 0 auto;
	max-width: 600px;
	height: 100px;
	resize: none;
	border: 1px solid #ccc;
	outline: none;
}


.Question .questionOptions li.active {
	background: #333;
}

.Question .questionOptions li:hover {
	background: #666;
	cursor: pointer;
}

.Question .questionOptions li:last-child {
	border-right: none;
}

.ScoreRoleProgress {
	display: block;
	border:1px solid #CCC;
	padding: 20px;
	margin-top: 40px;	
}

.ScoreRoleProgress h4 {
	font-size: 24px;
	font-weight: bold;
}

.ScoreRoleProgress h5{
	color: #999;
	margin-bottom: 10px;
}

.ScoreRoleProgress h5 span {
	background: #ce130e;
	font-weight: normal;
	padding: 5px 10px;
	font-size: 12px;
	color: #FFF;
	border-radius: 5px;
	position:relative;
	top: -2px;
	left: 5px;
	display: block;
	float: right;
}

div.ScoreRoleProgress li{
	border-bottom: 1px solid #CCC;
	display: block;
	margin-bottom: 20px;
	padding-bottom: 12px;
}


div.ScoreRoleProgress li:last-child{
	margin-bottom: 0px;
	border: none;
	padding-bottom: 0px;
}

.ScoreRoleProgress h5 span.complete {
	background: rgb(140, 206, 14);
}

.ScoreRoleProgress .questions p {
	max-width: 100%;
	margin-bottom: 5px;
	color: #666;

}

.ScoreRoleProgress .questions p:last-child{
	margin-bottom: 0px;
}

.ScoreRoleProgress .questions p:first-child{
	margin-top: 20px;
}

.ScoreRoleProgress .questions p span{
	display: inline-block;
	width: 60%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0px;	

}

.ScoreRoleProgress .questions p.complete strong {
	color: rgb(140, 206, 14);
	
}

.ScoreRoleProgress .questions p strong{
	position: relative;
	top: -4px;
	left: 5px;
	font-weight: normal;
	color: #ce130e;
	display: inline-block;
	text-align: right;
	width: 40%;
}