.Question .questionOptions {
	display: flex;
	justify-content: center;
	padding:40px;
	border-top: 1px solid #EEE;
	margin-top: 40px
}

.Question .questionOptions li {
	display: block;
	background: rgb(140, 206, 14);
	padding:20px;
	border-right: 1px solid #FFF;
	color: #FFF;
	user-select: none; 
}


.Question textarea {
	font-size:16px;
	padding:10px;
	color: #999;
	width: 400px;
	display: block;
	margin: 0 auto;
	max-width: 600px;
	height: 100px;
	resize: none;
	border: 1px solid #ccc;
	outline: none;
}


.Question .questionOptions li.active {
	background: #333;
}

.Question .questionOptions li:hover {
	background: #666;
	cursor: pointer;
}

.Question .questionOptions li:last-child {
	border-right: none;
}

